<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de Compras - G3 Footwear</title>
    <script src="/js/sweetalert2.js"></script>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/cart.css" />
    <link rel="stylesheet" href="/css/navAndFooter.css">
    <link rel="stylesheet" href="/css/sweetalert2.css">
    <link rel="icon" href="/images/logo_small_black.png">
    </head>

    <%- include('../partials/header.ejs') %>

    <main>
        <section>
            <h1 class="cart-title"><i class="fa-solid fa-cart-arrow-down"></i>Carrito</h1>
            
            <div class="cart-container" style="min-height: 400px;">
                <!-- <label for="">Carrito</label> -->
                <div class="tab-panel">
                    <div class="item-row">
                        <% if (cartProducts.length > 0) { %>
                            <% cartProducts.forEach(product => { %>
                              <article class="item-container">
                                <div class="item-cart">
                                  <% if (product.images && product.images.length > 0) { %>
                                    <img class="offer-img" src="/images/products/<%= product.images[0].name %>" alt="" />
                                  <% } %>
                                </div>
                                <div class="item-cart-info">
                                  <p class="product-name"><%= product.name %></p>
                                </div>
                                <div class="add-item">
                                    <button class="add-item-button" id="add-item-button" onclick="increaseQuantity('<%= product.id %>')"></button>
                                    <i class="fa-solid fa-plus"></i>
                                    <button onclick="decreaseQuantity('<%= product.id %>')" class="remove-item-button" id="remove-item-button"></button>
                                    <i class="fa-solid fa-minus"></i>
                                  </div>
                                  <div class="quantity-selector">
                                    <div class="quantity-selector-box" id="quantity-selector-box-<%= product.id %>">
                                      <p class="quantity-text" data-price="<%= product.price %>">Cantidad: 1</p>
                                    </div>
                                </div>
                                <div class="item-remove">
                                    <p class="item-remove-text"><a href="#">Eliminar</a></p>
                                </div>
                                <div class="item-price">
                                    <p class="item-price-p" id="total-price-<%= product.id %>">$<%= product.price %></p>
                                  </div>
                              </article>
                              <div class="line"></div>
                            <% }) %>
                          <% } else { %>
                            <p>No hay productos en el carrito.</p>
                          <% } %>
                        </div>
                        
                        <div class="line"></div>
                        <div class="footer-container-cart">
                            <div class="ticket-shipping">
                                <p class="shipping-text">Envío: AV. SIEMPRE VIVA 1234</p>
                                <p class="free-shipping-text">Gratis</p>
                            </div>
                            <div class="ticket-total">
                                <p class="total-text">Total</p>
                                <p class="total-price" id="total-price">$<%= totalPrice %></p>
                            </div>
                            <div class="button-container">
                              <form action="/products/emptyCart" method="POST" id="purchase-form">
                                <button class="btn-buy" id="buy-button">Comprar</button>
                              </form>
                                <form action="/products/emptyCart" method="POST" class="back-form">
                                  <button type="submit" class="btn-back">Vaciar</button>
                                </form>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer'); %>
    <script src="/js/cart.js"></script>
  </body>
</html>