<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Crear Producto</title>
        <script
          src="https://kit.fontawesome.com/7ea488e71c.js"
          crossorigin="anonymous"
        ></script>
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/productForm.css" />
        <link rel="stylesheet" href="/css/navAndFooter.css">
        <link rel="icon" href="/images/logo_small_black.png">
        </head>

    <body>
    <%- include('../partials/header.ejs') %>

    <div>
    <form class="product-form" method="post" action="/products/createProduct" enctype="multipart/form-data">
        
        <!--titulo de la pag----->
        <h1 class="product-form-title">Añadir Producto</h1>

        <!--datos que se piden para el registro en cajas-------->
        <input class="box-form" type="text" placeholder="Nombre del producto" name="name" value="<%= locals.old && old.name %>" >
        <% if (locals.errors && locals.errors.name) { %>
            <p class="feedback"><%= errors.name.msg%> </p>
            <% } %> 

        <input class="box-form" type="text" placeholder="Descripción" name="description" value="<%= locals.old && old.description %>" >
        <% if (locals.errors && locals.errors.description) { %>
            <p class="feedback"><%=errors.description.msg%> </p>
            <% } %> 

        <div>
            <input type="file" id="files" name="upload-product" class="hidden" multiple/>
            <label for="files">Seleccionar archivo
                <i class="fa-solid fa-camera-rotate"></i>
            </label>
        </div>

        <input class="box-form" type="text" placeholder="Talle del producto" name="size" value="<%= locals.old && old.size %>" >
        <% if (locals.errors && locals.errors.size) { %>
            <p class="feedback"><%= errors.size.msg%> </p>
            <% } %> 

        <input class="box-form" type="text" placeholder="Categoría" name="category" value="<%= locals.old && old.category %>" >
        <% if (locals.errors && locals.errors.category) { %>
            <p class="feedback"><%= errors.category.msg%> </p>
            <% } %> 

        <input class="box-form" type="text" placeholder="Precio original sin descuento" name="oldPrice" value="<%= locals.old && old.oldPrice %>" >
        <% if (locals.errors && locals.errors.oldPrice) { %>
            <p class="feedback"><%= errors.oldPrice.msg%> </p>
            <% } %> 

        <input class="box-form" type="text" placeholder="Precio final" name="price" value="<%= locals.old && old.price %>" >
        <% if (locals.errors && locals.errors.price) { %>
            <p class="feedback"><%= errors.price.msg%> </p>
            <% } %> 
        
        <!--Boton-->
        <input type="submit" class="button-form" value="Enviar"></input>
        <input type="reset" class="button-form" value="Borrar"></input>
            
        
    </form>

    <%- include('../partials/footer') %>
    </body>
</html>