<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Crear Producto</title>
        <script
          src="https://kit.fontawesome.com/7ea488e71c.js"
          crossorigin="anonymous"
        ></script>
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/productForm.css" />
        <link rel="stylesheet" href="/css/navAndFooter.css">
        <link rel="icon" href="/images/logo_small_black.png">
        </head>

    <body>
    <%- include('../partials/header.ejs') %>

    <div>
    <form class="product-form" method="post" action="/products/createProduct" enctype="multipart/form-data">
        
        <!--titulo de la pag----->
        <h1 class="product-form-title">A침adir Producto</h1>

        <!--datos que se piden para el registro en cajas-------->
        <input class="box-form name-field" type="text" placeholder="Nombre del producto" name="productNameCreate" value="<%=locals.old && locals.old.productNameCreate%>" >
        <% if (locals.errors && locals.errors.productNameCreate) { %>
            <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%= errors.productNameCreate.msg%> </p>
            <% } %> 

        <input class="box-form description-field" type="text" placeholder="Descripci칩n" name="productDescriptionCreate" value="<%=locals.old && locals.old.productDescriptionCreate%>" >
        <% if (locals.errors && locals.errors.productDescriptionCreate) { %>
            <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%=errors.productDescriptionCreate.msg%> </p>
            <% } %> 

        <div>
            <input type="file" id="files" name="productImagesCreate" class="hidden" multiple/>
            <label for="files">Seleccionar archivo
                <i class="fa-solid fa-camera-rotate"></i>
            </label>
            <% if (locals.errors && locals.errors.productImagesCreate) { %>
                <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%=errors.productImagesCreate.msg%> </p>
                <% } %>  
        </div>

        <input class="box-form" type="text" placeholder="Talle del producto" name="productSizeCreate" value="<%=locals.old && locals.old.productSizeCreate%>" >
        <% if (locals.errors && locals.errors.productSizeCreate) { %>
            <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%= errors.productSizeCreate.msg%> </p>
            <% } %> 

        <input class="box-form" type="number" placeholder="Precio original sin descuento" name="priceWithNoDiscount" value="<%=locals.old && locals.old.priceWithNoDiscount%>" >
        <% if (locals.errors && locals.errors.priceWithNoDiscount) { %>
            <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%= errors.priceWithNoDiscount.msg%> </p>
            <% } %> 

        <input class="box-form" type="number" placeholder="Precio final" name="price" value="<%=locals.old && locals.old.price%>" >
        <% if (locals.errors && locals.errors.price) { %>
            <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%= errors.price.msg%> </p>
            <% } %> 

        <select class="box-form" name="productBrandIdCreate" id="">
            <option value="">Selecciona una opci칩n</option>
            <% brands.forEach(brand => { %>
                <option value="<%= brand.id %>"><%= brand.name %></option>
            <% }) %>
        </select>    

        <select class="box-form" name="productCategoryIdCreate" id="">
            <option value="">Selecciona una opci칩n</option>
            <% categories.forEach(category => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
        </select>
        
        <div class="errors">
            <ul></ul>
        </div>
        <br>
        <!--Boton-->
        <input type="submit" class="button-form" value="Enviar">
        <input type="reset" class="button-form" value="Borrar">
            
        
    </form>

    <%- include('../partials/footer') %>
    <script src="/js/createProductValidations.js"></script>
    </body>
</html>