<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Editar Producto</title>
        <script
          src="https://kit.fontawesome.com/7ea488e71c.js"
          crossorigin="anonymous"
        ></script>
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/productForm.css" />
        <link rel="stylesheet" href="/css/navAndFooter.css">
        <link rel="icon" href="/images/logo_small_black.png">
        </head>

<body>
    <%- include('../partials/header.ejs') %>

    <div>
    <form method="post" action="/products/editProduct/<%=product.id%>?_method=PUT" class="product-form" enctype="multipart/form-data">
        
        <!--titulo de la pag----->
        <h1 class="product-form-title">Editar Producto</h1>
        
        <!--datos que se piden para el registro en cajas-------->
        <input class="box-form" type="text" name="productNameEdit" placeholder="Nombre del producto" value="<%=product.name%>" >
        <% if (locals.errors && locals.errors.productNameEdit) { %>
            <p class="feedback"><%=errors.productNameEdit.msg%> </p>
            <% } %>

        <input class="box-form" type="text" placeholder="Descripción" name="productDescriptionEdit" value="<%=product.description%>" >
        <% if (locals.errors && locals.errors.productDescriptionEdit) { %>
            <p class="feedback"><%=errors.productDescriptionEdit.msg%> </p>
            <% } %>
        
        <div>
            <input type="file" id="files" name="productImagesEdit" class="hidden" value="<%=product.images%>" multiple/>
            <label for="files">Seleccionar archivo
                <i class="fa-solid fa-camera-rotate"></i>
            </label>
            <% if (locals.errors && locals.errors.productImagesEdit) { %>
                <p class="feedback"><%=errors.productImagesEdit.msg%> </p>
                <% } %>
        </div>

        <input class="box-form" type="text" placeholder="Talle del producto" name="productSizeEdit" value="<%=product.size%>" >
        <% if (locals.errors && locals.errors.productSizeEdit) { %>
            <p class="feedback"><%=errors.productSizeEdit.msg%> </p>
            <% } %>

        <input class="box-form" type="text" name="productCateogryEdit" placeholder="Categoría" value="<%=product.category%>" >
        <% if (locals.errors && locals.errors.productCateogryEdit) { %>
            <p class="feedback"><%=errors.productCateogryEdit.msg%> </p>
            <% } %>

        <input class="box-form" type="text" placeholder="Precio original sin descuento" name="productOriginalPriceEdit" value="<%=product.originalPrice%>" >
        <% if (locals.errors && locals.errors.productOriginalPriceEdit) { %>
            <p class="feedback"><%=errors.productOriginalPriceEdit.msg%> </p>
            <% } %>

        <input class="box-form" type="text" name="productDiscountPriceEdit" placeholder="Precio" value="<%=product.discountPrice%>" >
        <% if (locals.errors && locals.errors.productDiscountPriceEdit) { %>
            <p class="feedback"><%=errors.productDiscountPriceEdit.msg%> </p>
            <% } %>
        
        <!--Boton-->
        <input type="submit" class="button-form" value="Enviar"></input>
        <input type="reset" class="button-form" value="Borrar"></input>
            
        
    </form>

    <%- include('../partials/footer') %>
</body>
</html>