<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Editar Producto</title>
        <script
          src="https://kit.fontawesome.com/7ea488e71c.js"
          crossorigin="anonymous"
        ></script>
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/productForm.css" />
        <link rel="stylesheet" href="/css/navAndFooter.css">
        <link rel="icon" href="/images/logo_small_black.png">
        </head>

<body>
    <%- include('../partials/header.ejs') %>

    <div>
    <form method="post" action="/products/editProduct/<%=products.id%>?_method=PUT" class="product-form" enctype="multipart/form-data">
        
        <!--titulo de la pag----->
        <h1 class="product-form-title">Editar Producto</h1>
        
        <!--datos que se piden para el registro en cajas-------->
        <input class="box-form" type="text" name="productNameEdit" placeholder="Nombre del producto" value="<%=products.name%>" >
        <% if (locals.errors && locals.errors.productNameEdit) { %>
            <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%=errors.productNameEdit.msg%> </p>
            <% } %>

        <input class="box-form" type="text" placeholder="Descripción" name="productDescriptionEdit" value="<%=products.description%>" >
        <% if (locals.errors && locals.errors.productDescriptionEdit) { %>
            <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%=errors.productDescriptionEdit.msg%> </p>
            <% } %>
        
        <div>
            <input type="file" id="files" name="productImagesEdit" class="hidden" value="<%=products.images%>" multiple/>
            <label for="files">Seleccionar archivo
                <i class="fa-solid fa-camera-rotate"></i>
            </label>
            <% if (locals.errors && locals.errors.productImagesEdit) { %>
                <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%=errors.productImagesEdit.msg%> </p>
                <% } %>
        </div>

        <input class="box-form" type="text" placeholder="Talle del producto" name="productSizeEdit" value="<%=products.size%>" >
        <% if (locals.errors && locals.errors.productSizeEdit) { %>
            <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%=errors.productSizeEdit.msg%> </p>
            <% } %>

            <select class="box-form" name="productBrandEdit" id="">
                <option value="">Selecciona una marca</option>
                <% brands.forEach(brand => { %>
                    <option value="<%= brand.id %>"><%= brand.name %></option>
                <% }) %>
            </select>    
    
            <select class="box-form" name="productCategoryEdit" id="">
                <option value="">Selecciona una categoría</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                <% }) %>
            </select>

        <input class="box-form" type="text" placeholder="Precio original sin descuento" name="productOriginalPriceEdit" value="<%=products.discount_percentage%>" >
        <% if (locals.errors && locals.errors.productOriginalPriceEdit) { %>
            <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%=errors.productOriginalPriceEdit.msg%> </p>
            <% } %>

        <input class="box-form" type="text" name="productDiscountPercentageEdit" placeholder="Precio" value="<%=products.price%>" >
        <% if (locals.errors && locals.errors.productDiscountPercentageEdit) { %>
            <p class="feedback"><i class="fa-solid fa-circle-exclamation"></i> <%=errors.productDiscountPercentageEdit.msg%> </p>
            <% } %>
        
        <!--Boton-->
        <input type="submit" class="button-form" value="Enviar">
        <input type="reset" class="button-form" value="Borrar">
            
        
    </form>

    <%- include('../partials/footer') %>
</body>
</html>