
<h1>Listado de productos</h1>

<% for (let i = 0; i < products.length; i++) { %>
    <div class="article">
        <h2 class="article-name"><%= products[i].name %></h2>
        <p class="price"><%= products[i].description %></p>
        <p class="price"><%= products[i].price %></p>
        <img class="article-img" src="images/<%= products[i].image %>" alt="<%= products[i].name %>">

        <a href="/products/<%= products[i].id %>">Ver detalle</a>
        <a href="/products/<%= products[i].id %>/edit">Editar</a>
        <a href="/products/<%= products[i].id %>/delete">Eliminar</a>

    </div>
<% } %>

<a href="/products/create">Crear producto</a>