<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión - G3 Footwear</title>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/navAndFooter.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="icon" href="/images/logo_small_black.png" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <div class="login-form-container">
        <h2 class="login-text">Iniciar sesión</h2>
        <form action="/users/login" method="POST">
          <input
            type="text"
            class="email-field"
            name="emailLogin"
            placeholder="Ingresa tu correo electrónico"
            id="input-login"
            value="<%= locals.old && old.emailLogin%>"
            required
          />
          <% if (locals.errors && locals.errors.emailLogin) { %>
          <p class="feedback">
            <i class="fa-solid fa-circle-exclamation"></i>
            <%=errors.emailLogin.msg%>
          </p>
          <% } %>

          <input
            type="password"
            class="password-field"
            name="passwordLogin"
            placeholder="Ingresa tu contraseña"
            id="input-password"
            required
          />
          <% if (locals.errors && locals.errors.passwordLogin) { %>
          <p class="feedback">
            <i class="fa-solid fa-circle-exclamation"></i>
            <%=errors.passwordLogin.msg%>
          </p>
          <% } %>

          <div class="errors">
            <ul></ul>
          </div>

          <a class="link-login-form" href="/"
            ><button type="submit" id="button-login">Iniciar Sesión</button></a
          >

          <li class="li-checkbox">
            <input type="checkbox" id="remember" name="remember" />
            <p class="remember-text">Recuérdame</p>
          </li>
        </form>
        <p class="forgot-password">
          <a class="link-login-form" href="#">¿Olvidaste tu contraseña?</a>
        </p>

        <h3 class="login-with">También podés iniciar sesión con:</h3>

        <div class="social-media-login-father">
          <i class="fa fa-facebook" id="login-facebook"></i>
          <i class="fa fa-instagram" id="login-instagram"></i>
          <i class="fa fa-twitter" id="login-twitter"></i>
          <i class="fa fa-google" id="login-google"></i>
        </div>

        <p class="register-text">
          Sos nuevo?
          <a class="link-login-form" href="/users/register">Registrate aquí</a>
        </p>
      </div>
    </main>
    <%- include('../partials/footer'); %>
    <script src="/js/loginValidations.js"></script>
  </body>
</html>
