<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi perfil</title>
    <script
      src="https://kit.fontawesome.com/7ea488e71c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/navAndFooter.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="icon" href="/images/logo_small_black.png">
    </head>

<body>
    <%-include('../partials/header.ejs')%>
    <main>

      <div class="image-container">
        <div class="main-product-image-small">
          <img src="/images/users/<%=users.id.avatar%>" alt="" />
        </div>
      <div>

        <form method ="post" action ="/users/profile/<%=user.id%>?_method=PUT" class="profile-upload-image" enctype="multipart/form-data">
            
            <h1 class="profile-upload-title">Subir Avatar</h1>
            
            <input type="file" class="box-image" type="text" name="avatar">
            <% if (locals.errors && locals.avatar.name) { %>
                <p class="feedback"><%=errors.avatar.msg%> </p>
                <% } %>
            
            <input type="submit" class="button-form" value="Enviar"></input>
            <input type="reset" class="button-form" value="Borrar"></input>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>