<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registrate - G3 Footwear</title>
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/navAndFooter.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/df0fd52d0d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="/images/logo_small_black.png" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <!--formulario---->
      <form class="form" method="post" action="/users/register">
        <!--titulo de la pag----->
        <h1 class="titulo">Registrarse</h1>

        <!--datos que se piden para el registro en cajas-------->
        <input
          class="box-form name-field"
          type="text"
          placeholder="Nombre"
          name="nameRegister"
          value="<%= locals.old && old.nameRegister %>"
        />
        <div class="errors"><i class="fa-solid fa-circle-exclamation"></i></div>
        <% if (locals.errors && locals.errors.nameRegister) { %>
        <p class="feedback">
          <i class="fa-solid fa-circle-exclamation"></i> <%=
          errors.nameRegister.msg%>
        </p>
        <% } %>

        <input
          class="box-form last-name-field"
          type="text"
          placeholder="Apellido"
          name="lastNameRegister"
          value="<%= locals.old && old.lastNameRegister %>"
        />
        <div class="errors"><i class="fa-solid fa-circle-exclamation"></i></div>
        <% if (locals.errors && locals.errors.lastNameRegister) { %>
        <p class="feedback">
          <i class="fa-solid fa-circle-exclamation"></i> <%=
          errors.lastNameRegister.msg%>
        </p>
        <% } %>

        <input
          class="box-form email-field"
          type="email"
          placeholder="Correo electrónico"
          name="emailRegister"
          value="<%= locals.old && old.emailRegister %>"
        />
        <div class="errors"><i class="fa-solid fa-circle-exclamation"></i></div>
        <% if (locals.errors && locals.errors.emailRegister) { %>
        <p class="feedback">
          <i class="fa-solid fa-circle-exclamation"></i> <%=
          errors.emailRegister.msg%>
        </p>
        <% } %>

        <input
          class="box-form password-field"
          type="password"
          placeholder="Contraseña"
          name="passwordRegister"
          value="<%= locals.old && old.passwordRegister %>"
        />
        <div class="errors"><i class="fa-solid fa-circle-exclamation"></i></div>
        <% if (locals.errors && locals.errors.passwordRegister) { %>
        <p class="feedback">
          <i class="fa-solid fa-circle-exclamation"></i>
          <%=errors.passwordRegister.msg%>
        </p>
        <% } %>

        
        <!--terminos chequear si al resto le parece ok?------->
        <p class="termino1">
          <input type="checkbox" name="termsAndConditions" id="terms" /> Estoy de acuerdo
          con los
          <a class="termino2" href="/terms-conditions"
            >Terminos y Condiciones</a
          >
        </p>
        <% if (locals.errors && locals.errors.termsAndConditions) { %>
          <p class="feedback-tac">
            <i class="fa-solid fa-circle-exclamation"></i>
            <%=errors.termsAndConditions.msg%>
          </p>
          <% } %>
        
        <div class="errors"></div>
        <!--Boton-->
        <button type="submit" class="button"><p>Enviar</p></button>

        <h3 class="redes-sociales">Registrate con redes sociales</h3>

        <div class="boxIcons">
          <a class="link" href="http://facebook.com"
            ><div class="icons">
              <i class="fa fa-facebook"></i></div
          ></a>

          <a class="link" href="http://instagram.com"
            ><div class="icons">
              <i class="fa fa-instagram"></i></div
          ></a>

          <a class="link" href="http://twitter.com"
            ><div class="icons">
              <i class="fa fa-twitter"></i></div
          ></a>

          <a class="link" href="http://google.com"
            ><div class="icons">
              <i class="fa fa-google"></i></div
          ></a>
        </div>
      </form>
    </main>
    <%- include('../partials/footer'); %>
    <script src="/js/registerValidations.js"></script>
  </body>
</html>
